body{
  background:#ddd;
}
.home-section{

  hight:100vh;
}
.main-nav{
  background:rgba(200,200,200,1);
}

.top-logo{
  width:200px;
  margin:0 auto;
}
.navbar-static-top{
  max-height:50px;
}
#navbar{
  margin-top:10px;
}

.icon-bar{
  background:#efefef;
}
.nav-ul li>a {
  margin-right:140px;
  background:none;
}

.nav-collapsed{
  background:#aaa;
}
.about-text{

  position:relative;
  padding-top:220px;
  width:600px;
  min-height:90%;
  margin:0px auto;
  text-align:center;
  padding-bottom:20px;
}


/*------------------out source-------*/


#main-nav-fixed {
  width: 100%;
  height: 10px;
}
#nav-seperator {
  display: none;
  height: 10px;
}
#main-logo {
  margin-bottom: 15px;
}
#content-wrapper {
  margin-top: 80px;
}
